@tailwind base;

@tailwind components;

@tailwind utilities;

@layer components {
    @import url('https://fonts.googleapis.com/css?family=Noto+Sans+TC:400,500,700,900&display=swap');

    body {
        /* background-image: linear-gradient(to left, #c7f5fd, #effcfe); */
        background: no-repeat fixed url("cool-background.png");
        background-size: cover;
        font-family: 'Noto Sans TC', sans-serif;
    }

    nav {
        top: 0px;
        left: 0px;
        z-index: 10000;
        background-color: #090909;
        color: #a0a0a0;
        box-shadow: 0px 0px 10px #000000;
        max-height: 10vh;
        min-height: 40px;
        
    }
    /* @media (min-height: 576px) { ... }
    
    @media (min-height: 768px) { ... }
    
    @media (min-height: 992px) { ... }
    
    @media (min-height: 1200px) { ... } */
    

    textarea,
    input {
        @apply p-2 rounded-xl;
        background-color: #e0e0e0;
        box-shadow: inset 2px 2px 5px #babecc, inset -2px -2px 5px #fff;

    }

    input:focus,
    textarea:focus {
        outline: none;
        box-shadow: inset 1px 1px 2px #babecc, inset -1px -1px 2px #fff;
    }

    input:invalid {
        border-color: #ff0000;
        animation: shake 0.5s;
    }

    .outer-container {
        @apply flex flex-col pt-16 self-center w-screen;
    }

    .control {
        @apply flex flex-nowrap flex-row justify-end bottom-0 self-end;
        color: #a0a0a0;
    }

    .btn {
        @apply px-4 py-2 mx-2  text-white;
        border-radius: 29px;
        /* background: #e0e0e0; */
        background: url("button.png");
        box-shadow: 4px 4px 4px #500247;
        opacity:0.8;
    }
    .btnWhite {
        @apply px-20 py-2 mx-2  text-black flex justify-center;
        border-radius: 29px;
        /* background: #e0e0e0; */
        background: white;
        box-shadow: 4px 4px 4px #500247;
        opacity:0.8;
        padding-left: 7vw;
        padding-right: 7vw;
        max-width: 5rem;
    }
    .btnWhite:hover {
        border-radius: 29px;
        background: white;
        box-shadow: 2px 2px 2px #500247;
    }

    .btn:hover {
        border-radius: 29px;
        background: url("button.png") center/120%;
        box-shadow: 2px 2px 2px #500247;
    }

    .card {
        @apply p-4 m-6 self-center ;
        width: 80vw;
        max-width: 1100px;
        min-height: 150px;
        border-radius: 30px;
        background: #ffffff;
        /* box-shadow: 10px 10px 20px #bebebe, -10px -10px 20px #daf9fe; */
        /* box-shadow: 10px 10px 10px 10px #bebebe */
        opacity: 0.8;
    }

    .nu-text {
        color: #dddddd;
        font-size: 6rem;
        text-shadow: 3px 3px 6px #a1a1a1, -3px -3px 6px #ffffff;
    }

    .article-title {
        @apply text-3xl text-slate-600;
        /*color: #808080;*/
        text-shadow: 1px 1px 2px #a1a1a1, -1px -1px 2px #ffffff;
    }

    .article-desc {
        @apply text-lg;
        color: #909090;
    }

    .article-content {
        @apply text-lg h-full;
        color: #707070;
    }

    /* 
    .overlay-container video{
        position: absolute;
        left:0;
        top:0;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    .form-container {
        @apply flex justify-center;
        
        position: absolute;
        top: 0;
        height: 100%;
        transition: all 0.6s ease-in-out;
    }

    .signin-container {
        @apply flex justify-center items-center;
        background: #ffffff; 
        left: 0;
        width: 50%;
        z-index: 2;
    }

    .signup-container {
        @apply flex justify-center items-center;
        background: #ffffff ; 
        left: 0;
        width: 50%;
        z-index: 1;
    } */
/*
    .overlay-container {
        @apply opacity-5;
        */
        /* +items-center */
        /* background: #ffffff;  */
        /* background: autoplay muted loop url("frontend\src\assets\vedio.mp4"); */
        /*
        position: absolute;
        top: 0px;
        left: 50%;
        width: 50%;
        height: 100%;
        overflow: hidden;
        transition: transform 0.6s ease-in-out;
        z-index: 100;
    }

    .overlay-container.active{
        @apply left-0;
    }
    */
    /* =========== */

    /* .float-container{
        postion: fixed;
        top : 50%;
        left: 50%;
    } */
    .float-container {
        position: fixed;
        top: 50%;
        left: 50%;
        
        display: flex;
        justify-content: center;
        align-items: center;
      }

    .formBx {
        box-shadow: 10px 10px 20px #7c048e;
        border-radius: 10px;
        transition: 0.5s ease-in-out;
        overflow: hidden;
    }

    .formBx.active {
        @apply left-1/2;
    }

    .formBx .form {
        @apply absolute left-0 w-1/2;
        overflow: hidden;
        transition: 0.5s;
        padding-left: 3%;
    }

    .formBx .signinform {
        transition-delay: 0.25s;
    }

    .formBx.active .signinform {
        left: -100%;
        transition-delay: 0s;
    }

    .formBx .signupform {
        left: 100%;
        transition-delay: 0s;
    }

    .formBx.active .signupform {
        left: 0;
        transition-delay: 0.25s;
    }


    input[type="checkbox"] {
        display: none;
    }

    .collapsible-content {
        @apply p-4 mb-6 ml-6 mr-6 border-slate-700 border-l-2 border-r-2 border-b-2 rounded-lg;
        /*display: none;*/
        max-height: 400px;
        overflow: hidden;
        transition: max-height 0.5s ease-in-out;
    }
    .buttonHover{
        @apply  hover:scale-125 active:bg-gray-600 hover:text-white focus:outline-none
    }
    .cardHover{
        @apply  hover:scale-105 hover:text-black focus:outline-none
    }
    .group:hover .group-hover\:block {
        @apply self-center flex;
        display: block;
        border-radius: 30px;
        border: none;
    }
    .fontSize{
        @apply text-white font-bold; 
        font-size: max(3vmin, 20px);
        text-shadow: 2px 2px #000000;
        
    }
    .fontSize_NoPost{
        @apply text-white font-bold; 
        font-size: 20px;
        text-shadow: 2px 2px #000000;
    }
    .info{
        width: 0.5 em;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .gradation-hr {
        border: none;
        height: 3px;
        background-image: linear-gradient(to right, #f015bf, #faf86e);
        margin: 10px 0;
      }
    .transparent-hr {
        border-top: 1px solid transparent;
        border-bottom: 1px solid transparent;
        border-image: linear-gradient(to right, transparent, rgba(0, 0, 0, 0.5), transparent);
        margin: 10px 0;
    }
    .hyphens {
        -webkit-hyphens: auto;
        -moz-hyphens: auto;
        -ms-hyphens: auto;
        hyphens: auto;
    }
}
/* 偏怪 */
@media screen and (max-width: 576px) {
    @layer components{
        .btn {
            @apply px-4 py-2 mx-2  text-white;
            border-radius: 0px;
            /* background: #e0e0e0; */
            background: url("button.png");
            box-shadow: 4px 4px 4px #500247;
            opacity:0.8;
        }
        .btn:hover {
            border-radius: 0px;
            background: url("button.png") center/120%;
            box-shadow: 2px 2px 2px #500247;
        }
    }
}

@media screen and (min-width: 993px) {
    @layer components {
        .btn {
            @apply px-4 py-2 mx-2  text-white;
            border-radius: 29px;
            /* background: #e0e0e0; */
            background: url("button.png");
            box-shadow: 4px 4px 4px #500247;
            opacity:0.8;
        }
        .btn:hover {
            border-radius: 29px;
            background: url("button.png") center/120%;
            box-shadow: 2px 2px 2px #500247;
        }
    }
}