.speech {
    @apply flex justify-start;
    /* (A1) FONT */
     font-size: 1.1em;
    /* (A2) COLORS */
    background: #fff;
    /* (A3) DIMENSIONS + POSITION */
    position: relative;
    padding: 20px;
    border-radius: 10px;
    margin: 50px;
    width: 50vw;
    max-width: 1100px;
    word-break: normal;
    opacity: 0.8;
  }

  .speech::after {
    /* (B1-1) ATTACH TRANSPARENT BORDERS */
    content: "";
    border: 10px solid transparent;
   
    /* (B1-2) NECESSARY TO POSITION THE "TAIL" */
    position: absolute;
  }

  .left.speech::after {
    /* (C2-1) LEFT TRIANGLE */
    border-right-color: #fff;
    border-left: 20;
   
    /* (C2-2) POSITION AT LEFT */
    left: -20px; 
    bottom: min(20%, 10px);
    margin-top: -20px;
  }

  
  .triangle {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
  }
    
  .triangle_outer {
    position: absolute;
    width: 100vw;
    height: 600px;
  }
    
  .triangle_outer::before {
    content: '';
    position: absolute;
    width: 40%;
    height: 100%;
    background: #ccc;
    animation: slide 1500ms linear infinite;
    overflow: hidden;
  }

    
  .clip {
    clip-path: polygon(
    0 0,
    100% 0,
    100% 100%,
    0 100%
    );
  }
    
  @keyframes slide {
    0% {
      transform: translateX(-150px);
    }
    
    100% {
      transform: translateX(300px);
    }
  }

  @media only screen and (max-width: 700px) {
    /* styles for screens up to 600px wide */
    .speech {
        @apply flex justify-start;
        /* (A1) FONT */
         font-size: 1.1em;
        /* (A2) COLORS */
        background: #fff;
        /* (A3) DIMENSIONS + POSITION */
        position: relative;
        padding: 20px;
        border-radius: 10px;
        margin: 50px;
        width: 70vw;
        max-width: 1100px;
        opacity: 0.8;
    }
  }

  